<div class="ogQuestion">
    <label for="ogSiteName">Site Name:</label>
    <input id="ogSiteName" name="ogSiteName" ng-model="openGraph.website.siteName" type="text">
</div>

<div class="ogQuestion">
    <label for="ogTitle">Page Title:</label>
    <input id="ogTitle" name="ogTitle" ng-model="openGraph.website.title" type="text">
</div>

<div class="ogQuestion">
    <label for="ogDescription">Page Description:</label>
    <input id="ogDescription" name="ogTitle" ng-model="openGraph.website.description" type="text">
</div>

<div class="ogQuestion">
    <div image-selector="" ng-model="openGraph.website.image" name="Image:" src="{openGraph.website.image}"></div>
</div>
